.frmComparator{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-gap: 44px ;
}
 .TR-01 Form, .TR-02 Form {
    background-color: rgb(218, 212, 212);
    padding: 10px;
    border-radius: 5px;
  
}
.dataTransistor{
    padding: 50px;

}
.infoFormMosfet{
 float: right;
 margin: 0 0 0 ;
}
.frmComparator .sucess {
    background-color: rgb(143 239 149 / 49%);
    border: solid 1px green;
}
.frmComparator .msn{
    margin: 20px 0 15px;
}
.frmComparator .sucess .msn{
    color: green;
}
.frmComparator .erro {
    /*background-color: rgb(249 202 202 / 86%);*/
    border: solid 1px red;
}
.frmComparator .erro .msn{
    color: red;
}