.frmComparator{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-gap: 8px ;
}
 .TR-01 Form, .TR-02 Form {
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
  
}
.dataTransistor{
    padding: 50px;

}

