.Logo{
    background-color: blue;
    font-size: large;   
    font-style: normal;
    color: white;   
    border-radius: 15px 15px 15px 0;
    margin: 12px 4px 5px 12px;
    padding: 10px 30px 18px;
    text-align: center;
}
.TopComponent{
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 9vh 90vh 20vh;
    
    

}

.TopComponent h1.title{    
    margin: 38px 25px;
}
