body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.App {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 80vh 30vh;
    grid-template-areas: "Topo Topo"  "mn dataT"  "Ft Ft";   
}

.TopComponent {
    background-color: yellow;
    grid-area: Topo;
    width: 100%;
}

.Menu {
    background-color: aqua;  
    grid-area: mn;
}

.dataTransistor{
    background-color: red ;
    grid-area: dataT;
}
.Footer{
    background-color: black ;   
    grid-area: Ft;
    color: white;   
 }
