body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.App {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 90vh 20vh;
    grid-template-areas: "Topo Topo"  "mn dataT"  "Ft Ft";
   
}

.TopComponent {
    background-color: yellow;
    grid-area: Topo;
    width: 100%;
}

.Menu {
    background-color: aqua;
   /* height: 100px;*/
    grid-area: mn;
}

.dataTransistor{

    background-color: red ;
    /*height: 100%;*/
    grid-area: dataT;
}
.Footer{

    background-color: black ;
    /*height: 100px;*/
    grid-area: ft;
    color: white;
    
 
}
